/* #root {

} */

.ant-menu-item:hover{
    background-color: black !important;
    color: white !important;
}

.ant-menu-item-selected{
    background-color: black !important;
    color: white !important;
}
.ant-btn-primary:hover{
    background-color: #fff !important;
    color: #000 !important;
    border:1px solid #000;
}


