@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  /*background-color: rgb(255, 245, 245);*/

  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
